Repository TcOpenGroup/TcOpen: changes, and which pre-commit hooks are due for each by the changed paths.
All: stweep, CSharpier

stweep:
  name: Format TwinCAT files with STweep
  entry: python stweep_format.py --settingsFile=TcOpen.STweep
  language: python
  require_serial: true

CSharpier:
  name: Format C# files
  entry: dotnet csharpier
  language: system

fixing accumulated issues with hammer project
  global.json
  src/TcOpen.Hammer/TcOpen.Hammer.generated.sln
  src/TcOpen.Hammer/TcOpenHammer.slnf
  src/TcOpen.Hammer/TcOpenHammer/TcOpenHammer/PlcHammer/PlcHammer.plcproj
  src/TcOpen.Hammer/TcOpenHammer/TcOpenHammer/TcOpenHammer.tsproj
Due: none

STweep setting changed to place STRUCT keyword on new line
  TcOpen.STweep
Due: none

updates contributing document
  CONTRIBUTING.md
Due: none

adjusts tc version in pre-commit config to 4024.55
  .pre-commit-config.yaml
Due: none

Update main.yml
  .github/workflows/main.yml
Due: none

****TcOpen.Inxton.Local.Security**** *Users are limited to 100 *Fixed layout in grouped users view
  src/TcOpen.Inxton/src/Security.Wpf/UserManagement/BaseUserViewModel.cs
  src/TcOpen.Inxton/src/Security.Wpf/UserManagement/GroupManagement/UserManagementGroupManagementView.xaml
  src/TcOpen.Inxton/src/Security/RoleGroupManager.cs
  src/TcoElements/src/Wpf/TcoElements.Wpf/Carousel/TcoCarouselSpotView.xaml
  src/TcoElements/src/Wpf/TcoElements.Wpf/Carousel/TcoCarouselSpotView.xaml.cs
  src/TcoElements/src/Wpf/TcoElements.Wpf/TcOpen.Inxton.TcoElements.Wpf.csproj
Due: CSharpier

Update build.ps1
  pipelines/build.ps1
Due: none

Update build.ps1 (#742)
  pipelines/build.ps1
Due: none

changes paths of tc3 to fit 4026 locations
  pipelines/utils/CleanupTargetBoot.ps1
  pipelines/utils/Load-XaeProject.ps1
Due: none

Update README.md
  src/TcoRexrothPress/README.md
Due: none

updates upload packages version
  .github/workflows/main.yml
  .github/workflows/nightly.yml
  .github/workflows/publish_packages.yml
Due: none

mend
  .github/workflows/publish_packages.yml
Due: none

Remove instantiated Permission boxes upon disposal.
  src/TcOpen.Inxton/src/Security.Wpf/PermissionBox/PermissionBox.cs
  src/TcoInspectors/src/Wpf/TcOpen.Inxton.TcoInspectors.Wpf/Abstractions/InspectorDialogue/TcoInspectorDialogDialogView.xaml
  src/TcoInspectors/src/Wpf/TcOpen.Inxton.TcoInspectors.Wpf/Abstractions/InspectorDialogue/TcoInspectorDialogDialogView.xaml.cs
Due: CSharpier

*inspector dialog disposing (remove permision box from list)
  src/TcoInspectors/src/Wpf/TcOpen.Inxton.TcoInspectors.Wpf/Abstractions/InspectorDialogue/TcoInspectorDialogDialogView.xaml
  src/TcoInspectors/src/Wpf/TcOpen.Inxton.TcoInspectors.Wpf/Abstractions/InspectorDialogue/TcoInspectorDialogDialogView.xaml.cs
  src/TcoInspectors/tests/Sandbox.TcoInspectors.Wpf/App.xaml.cs
Due: CSharpier

+resources
  src/TcoCore/src/TcoCore.Wpf/Properties/strings.Designer.cs
  src/TcoCore/src/TcoCore.Wpf/Properties/strings.cs-CZ.resx
  src/TcoCore/src/TcoCore.Wpf/Properties/strings.resx
  src/TcoCore/src/TcoCore.Wpf/Properties/strings.sk-Sk.resx
Due: none

* provide blocking information into service view, fixed if suspend method is called more than one
  src/TcoPneumatics/src/XaeTcoPneumatics/TcoPneumatics/POUs/Cylinders/TcoCylinder.TcPOU
  src/TcoPneumatics/src/XaeTcoPneumatics/TcoPneumatics/POUs/Cylinders/TcoDoubleCylinder.TcPOU
Due: stweep

+ Do not render Tasks GroupBox if there are no tasks in component in generic service view
  src/TcoCore/src/TcoCore.Wpf/TcoComponent/TcoComponentServiceView.xaml
  src/TcoCore/src/TcoCoreConnector/pex/TcoComponent/TcoComponent.cs
Due: CSharpier

* override button hide option *buttons colors fixed
  src/TcoInspectors/src/Wpf/TcOpen.Inxton.TcoInspectors.Wpf/Abstractions/InspectorDialogue/TcoInspectorDialogDialogView.xaml
  src/TcoInspectors/src/XAE/XAE/TcoInspectors/POUs/TcoInspector/TcoInspector.TcPOU
  src/TcoInspectors/src/XAE/XAE/TcoInspectors/POUs/TcoInspector/TcoInspectorDialog.TcPOU
Due: stweep

+DataInspector running result *fixed UpdateComperhensive result when retries
  src/TcoInspectors/src/XAE/XAE/TcoInspectors/POUs/TcoDataInspector/TcoDataInspector.TcPOU
  src/TcoInspectors/src/XAE/XAE/TcoInspectors/POUs/TcoInspector/TcoInspector.TcPOU
Due: stweep

Update README.md
  README.md
Due: none

Path conditions:
  stweep: any of: .*\.(TcPOU|TcDUT|TcTTO|TcGVL), but not: .*\.(resx|Designer.cs|xti|tcscopex)
  CSharpier: any of: .*\.(cs$), but not: .*\.(resx|Designer.cs|xti|tcscopex)
